/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
/* body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
} */

#root {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.stick{
  position: sticky;
  top: 0;
  background: #f8f9fa; /* רקע כמו ה-bg-light של bootstrap */
  z-index: 2; /* כדי שהכותרות יהיו מעל התאים */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.bottom-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
}


/* עיצוב דף WelcomePage */
.welcome-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.confetti-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.content {
  z-index: 1;
}

.title {
  font-size: 6rem;
  margin: 0;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  animation: fadeIn 1s forwards;
}

.subtitle {
  font-size: 2rem;
  margin-top: 1rem;
  font-family: 'Varela Round', sans-serif;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease;
}

.subtitle.show {
  opacity: 1;
  transform: translateY(0);
}

.start-button {
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  background-color: #f50057;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.start-button:hover {
  transform: scale(1.05);
}

/* אפקט כניסה */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
